/* reset CSS for box model */
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 1000px;
  margin: 0px auto; /* centralizes the element horizontally*/
}

.sidebar {
  float: left;
  width: 200px;
}

.wrapper {
  display: inline-block;
  width: 800px;
}

.header {
  background-color: aquamarine;
  padding: 20px;
  color: white;
}
.name {}
.position {}
.summary {}

.main {}